<h2>My Users</h2>
<ul class="users">
  <li *ngFor="let user of users">
    <button [class.selected]="user === selectedUser" type="button" (click)="onSelect(user)">
      <span class="badge">{{user.id}}</span>
      <span class="name">{{user.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedUser">
  <h2>{{selectedUser.name | uppercase}} Details</h2>
  <div>id: {{selectedUser.id}}</div>
  <div>
    <label for="user-name">User name: </label>
    <input id="user-name" [(ngModel)]="selectedUser.name" placeholder="name">
  </div>
</div>