button{
    background-color: #c20f68;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    
}
p{
    font-size: 15px;
    font-weight: bold;
    
    margin-left: 10px;
}
.content > mat-card {
    width: 400px;
    background-color:darkcyan;
}

