
  button{
    margin-left: 2rem;
    color: brown;
  }

   .form-group{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
    background-color: whitesmoke;
   } 
