button{
    background-color: #c20f68;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 3px;
    font-size: 16px;
    width: 50%;   
}
p{
    font-size: 15px;
    font-weight: bold;
    
    margin-left: 10px;
}

mat-card {
    text-align: center;
}


#SearchDiv {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#questionsDiv {
  margin: auto;
  width: 50%;
}

#buttonDiv {
  text-align: center;
  margin: auto;
  width: 50%;
}




