<h2>My Places</h2>


  <div *ngFor="let place of places">
    <div class="content">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          
          <mat-card-title>{{place.name}}</mat-card-title>
          <img
        src="{{place.icon}}"
        mat-card-avatar />
        </mat-card-header>
        <mat-card-subtitle>
        <p style ="padding-left: 60px;">{{place.vicinity}}</p> 
        </mat-card-subtitle>
       <img mat-card-image width ="50" *ngFor="let photo of place.photos" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=450&photo_reference={{photo.photo_reference}}&key=AIzaSyBKuuHUPZ_BDWlCnLSYPylkTCd7LQpsU6s">
       <!-- <img mat-card-image width ="50" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=50&photo_reference={{place.photo_reference}}&key=AIzaSyDlcVUDD3WhvXXA2XvrTflCjMn0VO3Bam8">
      -->
        <mat-card-content>
          <label>
            Rating: {{place.rating}} 
          </label> &nbsp; <b>♥ {{place.matchScore * 10}}</b>
        </mat-card-content>
        <mat-card-actions>
          <a mat-raised-button color="primary" [routerLink]="['../Place-Details',place.place_id]">See More Information</a>
          <button mat-raised-button color="accent" >Add to Favorites</button>
        </mat-card-actions>
      </mat-card>
    </div>


<div *ngIf="selectedPlace">
  <h2>{{selectedPlace.name | uppercase}} Details</h2>
  <div>Place rating: {{selectedPlace.rating}}</div>
  <div>
    <label for="place-name">Place name: </label>
    <input id="place-name" [(ngModel)]="selectedPlace.name" placeholder="name">
  </div>
</div>




