.content {
    padding: 16px;
}

.content > mat-card {
    width: 500px;
    background-color:darkcyan;
}
 
#center {
    text-align: center;
}

#placesTitle {
    font-size: medium;
    width: fit-content;
    background-color: brown;
    text-align: center;
    margin:auto;
}

#outermostDiv {
    width:min-content;
}