<h2>My Places</h2>
<ul class="places">
  <li *ngFor="let place of places">
    <button [class.selected]="place === selectedPlace" type="button" (click)="onSelectPlace(place)">
      <span class="badge">{{place.name}} </span>
      <span class="name">{{place.rating}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedPlace">
  <h2>{{selectedPlace.name | uppercase}} Details</h2>
  <div>Place rating: {{selectedPlace.rating}}</div>
  <div>
    <label for="place-name">Place name: </label>
    <input id="place-name" [(ngModel)]="selectedPlace.name" placeholder="name">
  </div>
</div>
