
<label>Location</label>
<input id="Address" type="text" [(ngModel)]="Address">
<label>Type</label>
<input id="Type" type="text" [(ngModel)]="Type">
<label>Keyword</label>
<input id="Keyword" type="text" [(ngModel)]="Keyword">
<label>Radius</label>
<input id="Radius" type="text" [(ngModel)]="Radius">
<button type="button" (click)="advancedPlaceSearch()">Search Place</button>

<div id="res"></div>
<h2 *ngIf="displayed" >My Places</h2>
<h4>{{FormattedAddress}}</h4>
<ul class="places">
  <li *ngFor="let place of places">
      <span class="badge">{{place.name}} </span>
      <span class="name">{{place.rating}}</span>
  </li>
</ul>
