
<div id="SearchDiv">
  <mat-card>
    <mat-card-content>
      <form  >
        <p>Search for a place</p>
        <mat-form-field >
          <mat-label>Address: (city,state)</mat-label>
          <input matInput id="Address" name="Address" [(ngModel)]="Address" >  
        </mat-form-field>

        <mat-form-field >
          <mat-label>Keyword:</mat-label>
          <input matInput id="Keyword" name="Keyword"  [(ngModel)]="Keyword" >
        </mat-form-field>

        <mat-form-field >
          <mat-label>Radius: (meters)</mat-label>
          <input matInput id="Radius" name="Radius"  [(ngModel)]="Radius" >
        </mat-form-field>

        <button  (click)="advancedPlaceSearch()">Search Place</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<br>
<div id="res"></div>
<h2 *ngIf="displayed" >My Places</h2>
<h4>{{FormattedAddress}}</h4>
<ul class="places">
  <li *ngFor="let place of places">
      <span class="badge">{{place.name}} </span>
      <span class="name">{{place.matchScore * 10}}%</span>
  </li>
</ul>