button{
    background-color: #c20f68;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    
}
mat-toolbar{
    background-color: #c20f68;
    color: white;
}
.toolbar-menu{
    color: white;
    
}