<mat-toolbar color="primary">
    <span>Where'sNext! </span>
    <br/>
    <!-- <h4>{{currentUser}}</h4><br/> -->

    
    <div class="toolbar-menu">
        <a mat-button routerLink="/">Home</a>
        <a mat-button routerLink="/Profile">Profile</a>
        <a mat-button routerLink="/Favorites">Favorites</a>
        <a mat-button routerLink="/Feedback">Feedback</a>
        <a mat-button routerLink="/Places">Places</a>
        <!-- <a mat-button routerLink="/Login">Login</a> -->
      </div>
  
  
  </mat-toolbar>
<br/>
<br/>

   <app-login></app-login> 
<a routerLink = "/Quiz">Quiz </a>
   

    
<app-users></app-users>

<router-outlet></router-outlet>



