button{
    background-color: #c20f68;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    
}
mat-toolbar{
    background-color: #c20f68;
    color: white;
    width: 100%;
}
.toolbar-menu{
    color: white;
   
    margin-left: 20px;


    
}
a{
    font-size: 18px;
}
.logout{
    color: white;
    
    size: 100px;
}
img{
    width: 250px;
    height: 55px;
    margin-left: 5px;
    margin-right: 5px;
}
mat-coursel-slide .image{
    width: 1920px;
    height: 480px;
}
.content > mat-card {
    width: 760px;
    background-color:rgb(205, 248, 242);
    margin-left: 100px;
}