<div >
     <div class="content">
       <mat-card class="mat-elevation-z4">
         <mat-card-header>
           
           <mat-card-title>{{place.name}}</mat-card-title>
           <img
         src="{{place.icon}}"
         mat-card-avatar />
         </mat-card-header>
         <mat-card-subtitle>
         <p style ="padding-left: 60px;"> {{place.vicinity}}</p> 
         </mat-card-subtitle>
         <mat-carousel
         timings="250ms ease-in"
         [autoplay]="true"
         interval="5000"
         color="primary"
         maxWidth="auto"
         proportion="50"
         slides="5"
         [loop]="true"
         [hideArrows]="false"
         [hideIndicators]="false"
         [useKeyboard]="true"
         [useMouseWheel]="false"
         orientation="ltr"
         >
         <mat-carousel-slide
          
         *ngFor="let slide of slides; let i = index"
         [image]="slide.image"
         overlayColor="#00000040"
         [hideOverlay]="true"
         ></mat-carousel-slide>
         </mat-carousel>
       <!--<img mat-card-image width ="50" *ngFor="let photo of place.photos" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=200&photo_reference={{photo.photo_reference}}&key=AIzaSyAq8gX10e_a_1ojTNAxnN3jmQar4bBGtd4">--> 
      
         <mat-card-content>
           <p>
             Rating: {{place.rating}}
           </p>
           <p>

           </p>
         </mat-card-content>
         <mat-card-actions>
           <a mat-raised-button color="accent" [routerLink]="['../Place-Details',place.place_id]">I want to go here!</a>
           <button mat-raised-button color="primary">Add to Favorites</button>
         </mat-card-actions>
       </mat-card>
     </div>
