<div >
     <div class="content">
       <mat-card class="mat-elevation-z4">
         <mat-card-header>
           
           <mat-card-title>{{place.name}}</mat-card-title>
           <img
         src="{{place.icon}}"
         mat-card-avatar />
         </mat-card-header>
         <mat-card-subtitle>
         <h3 style ="padding-left: 60px;"> {{place.vicinity}}</h3> 
         <p style ="padding-left: 60px;" *ngIf="open"> Open Now!</p> 
         <p style ="padding-left: 40px;" >Phone Number:  {{place.formatted_phone_number}}</p> 
         <p>{{place.editorial_summary.overview}}</p>
         </mat-card-subtitle>
         <mat-carousel
         timings="250ms ease-in"
         [autoplay]="true"
         interval="5000"
         color="primary"
         maxWidth="auto"
         proportion="50"
         slides="5"
         [loop]="true"
         [hideArrows]="false"
         [hideIndicators]="false"
         [useKeyboard]="true"
         [useMouseWheel]="false"
         orientation="ltr"
         >
         <mat-carousel-slide
          
         *ngFor="let slide of slides; let i = index"
         [image]="slide.image"
         overlayColor="#00000040"
         [hideOverlay]="true"
         ></mat-carousel-slide>
         </mat-carousel>
       <!--<img mat-card-image width ="50" *ngFor="let photo of place.photos" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=200&photo_reference={{photo.photo_reference}}&key=AIzaSyAq8gX10e_a_1ojTNAxnN3jmQar4bBGtd4">--> 
      
         <mat-card-content>
           <h2>
             Overall Rating: {{place.rating}}
           </h2>
           <h2>
            Price level: {{place.price_level}}
          </h2>
          <h3><a href ="{{place.url}}" >{{place.name}}</a>    </h3>
           <h1>Reviews:

           </h1>
           <mat-table clas="mat-elevation-z8" [dataSource]="reviews">

            <ng-container matColumnDef="author_name">
              <mat-header-cell *matHeaderCellDef>Author Name</mat-header-cell>
              <mat-cell *matCellDef="let review">{{review.author_name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="rating">
            <mat-header-cell *matHeaderCellDef>Rating</mat-header-cell>
            <mat-cell *matCellDef="let review">{{review.rating}}</mat-cell>
         </ng-container>

          <ng-container matColumnDef="relative_time">
            <mat-header-cell *matHeaderCellDef>Review Published</mat-header-cell>
            <mat-cell *matCellDef="let review">{{review.relative_time}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="text">
              <mat-header-cell *matHeaderCellDef>Review Text</mat-header-cell>
              <mat-cell *matCellDef="let review">{{review.text}}</mat-cell>
          </ng-container>
          
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>


         </mat-card-content>
         <mat-card-actions>
           <a mat-raised-button color="accent" [routerLink]="['../Place-Details',place.place_id]">I want to go here!</a>
           <button mat-raised-button color="primary">Add to Favorites</button>
         </mat-card-actions>
       </mat-card>
     </div>


     
