.content {
    padding: 16px;
}

.content > mat-card {
    width: 700px;
    background-color:darkcyan;
}
 
#center {
    text-align: center;
}

#favTitle {
    font-size: medium;
    width: fit-content;
    height:50px;
    background-color: #c20f68;
    text-align: center;
    margin:auto;
}

#outermostDiv {
    width:min-content;
}
